page-search {
    .theBtn{
        width: 100%;
    }
    .heads{
        height: 80px;
    }
    .ff{
        height: 25px;
        width: 25px
    }
    // .bsk{
    //     margin-left: 315px
    // }
    // .cnt{
    //     position: relative;
    //     margin-left: 335px;
    //     background-color: #55141C;
    //     padding: 1px;
    //     text-align: center;
    //     border-radius:10em;
    //     margin-top: -30px
    //     // color: black;
    //     // margin: -50% -70% auto;
    //     // font-size: 0.8em;
    // }

    .bsk{
        position: absolute;
        font-size: 40px;
        float: right;
        margin: -8% 88% auto;
    }
    .ico{
        height: 30px;
        width: 30px;
        margin-left: 88%;
        margin-top: -15px;
    }
    .cnt{
        position: relative;
        top: 5px;
        background-color: rgb(182, 130, 61);
        color: white;
        width:6%;
        text-align: center;
        margin-left: 86%;
        margin-top: 5px;
        border-radius: 1em;
        font-size: 1em
    }
    .heading{
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: .2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .btn{
        display: block;
        position: relative;
        margin: 10% 40% auto;
        background-color: limegreen; 
    }
    .count{
        color: white;
        position: relative;
    }
    // .mySearchBar{
    //     display: block;
    //     position: relative;
    //     margin: 8% 0% auto; 
    //     border-color: rgb(0, 225, 255);
    //     border-style: solid;
    //     font-size: 2em;
    
    // }
          .iconHolder{
            border: dotted 0px black;
            position: relative;
            top:-13px;
            height: 80px;
            background-color: #22141C;
            color: white;
            
        }

        .active{
            //box-shadow: 2px 1px 8px rgba(#55141C, 0.9) !important; 
            background-color: #55141C !important;
            color:white;
        }
     
        // .navigationHolder{
        //     border: solid 2px rgb(236, 170, 38);
        //     position: relative;
        //     background-color:white;
        //     width: 100%;
        // }
     
        // .iconHomePage{
        //     width: 15%;
        // }
     
        // .myNavicon{
        //    font-size: 2em;
        //    padding: 2%;
        //    margin-left: 11%;
        //    color: cadetblue;
        //    opacity: 0.8;
        //    font-weight: bolder;
        // }
     
        // .myNavicon:hover{
        //     color : rgb(236, 170, 38);
        // }
     
        .mys{
            text-align: center;
            position: relative;
            top:30%;
            font-size: 1.5em;
            color: white
        }

        .slideContainer{
            height: 20%;
            position: relative;
            top:1%;
        }

        .scrollbar{
            
            display: flex;
            flex-flow: row nowrap;
            height: 15vh;
            overflow-x: scroll;
            margin-bottom: 10px;
            image:last-child{
            margin-right: 10px;
            position: relative;
            margin: 0% 0% auto;
               
            }

            // div.image:hover{
            //     background:rgba(#665D64, 0.2 );
            // }
            
            
            .image:focus{
                background:rgba(#665D64, 0.9);
            }
            .image{
                flex: 0 0 auto;
                margin-left: 10px;
                // border: solid 2px skyblue;
                border-radius: 10px;
                border: rgba(238, 238, 238, 0.575) 2px solid; 
                padding: 2px;
                margin-right: 10px;
                box-shadow: 2px 1px 8px rgba(#55141C, 0.9); 
                max-width: auto;
                width: auto;
                max-height: auto;
                margin-top: 5px;
                margin-bottom: 5px;
        
            }
                img{
                    width: 80px;
                    height: 60%;
                    display: block;
                    overflow: hidden;
                    margin: 0 auto;
                }

                p{
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    text-align: center;
                    font-size: 0.8em;
                    font-weight:400;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
                }

                ion-icon{
                    background: linear-gradient(rgba(#ecaa26, .8), rgba(255, 173, 173, 0.7));
                    border-radius: 50%;
                    font-weight: bold;
                    padding: 4px;
                }
            }
}
